/node_modules
/vendor
/cache
/.idea
/plugin/public/css
/plugin/public/plugin
/plugin/public/js
Homestead.json
Homestead.yaml
.env
/coverage
.DS_Store
npm-debug.log
.swp
.phpstorm.meta.php
_ide_helper.php
.tern-port
composer.lock
package-lock.json
npm-shrinkwrap.json
mix-manifest.json
/plugin/public/fonts/vendor/material-icons/iconMaterialIcons-Regular.*
plugin/public/fonts